  <!-- ======= Mobile nav toggle button ======= -->
  <!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
  <i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav id="navbar" class="navbar nav-menu">
      <ul>
        <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Accueil</span></a></li>
        <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>À propos</span></a></li>
        <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Biographie</span></a></li>
        <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
        <li><a href="#apps" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Apps</span></a></li>
        <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        <li><a href="https://www.bardic.space" class="nav-link scrollto">&nbsp;EN</a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div data-aos="zoom-in" data-aos-delay="100">
      <div id="bardicbrand">
        <h1>Bardic.Space</h1>
        <p>Développeur web comme profession, réenchanteur du monde comme hobby.</p>
      </div>
      <div class="social-links">
        <a target="_blank" href="https://github.com/lucius-barde" class="github"><i class="bx bxl-github"></i></a>
        <a target="_blank" href="https://www.instagram.com/aswissinhungary/" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a target="_blank" href="https://www.youtube.com/@Lucius360" class="youtube"><i class="bx bxl-youtube"></i></a>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>À propos</h2>
            <br /><br />
            <p><strong>Je travaille à temps partiel pour une agence de communication suisse, et je crée du contenu culturel durant mon temps libre.</strong><br />
              Ce site présente des projets personnels dont je fais l'auto-promotion.<br /> Les idées présentées ici sont les miennes et non celles de mon/mes employeur(s).</p>
              
            <br />
          </div>
  
          <div class="row">
            <div class="col-lg-4">
              <img src="{{ ABSPATH }}/themes/bardicspace/assets/img/profile-img.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content">
              <h3>Lucien P.</h3>
              <p class="fst-italic">
                  Développeur web minimaliste avec un fort intérêt pour la musique folk / médiévale, les logiciels libres, et l'édition vidéo.
              </p>
              <div class="row">
                <div class="col-lg-6">
                  <ul>
                    <li><i class="bi bi-chevron-right"></i> <strong>Aussi connu comme:</strong> <span>Lucius Barde</span></li>
                    
                  <li><i class="bi bi-chevron-right"></i> <strong>Date de naissance:</strong> <span>Août 1990</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>E-Mail:</strong> <small>carteblanche АТ tutamail DОТ com</small></span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Site web:</strong> <span><a href="https://www.bardic.space">www.bardic.space</a></span></li>
                 
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Âge:</strong> <span>32</span></li> 
                  <li><i class="bi bi-chevron-right"></i> <strong>Emplacement:</strong> <span>Suisse</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Parle:</strong> <span>FR natif, EN, DE, HU</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Conduit:</strong> <span>E-Bike</span></li>
                </ul>
              </div>
            </div>
            <p>
                J'ai passé de longues périodes en Hongrie entre 2018 et 2023, par intérêt culturel pour ce pays, et je suis actuellement dans un processus de retour en Suisse, tout en gardant des liens forts avec l'Europe Centrale. Je suis favorable au télétravail et à l'indépendance géographique.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Compétences</h2>
            <p>Voici les technologies que j'utilise. J'indique si je les utilise régulièrement ou non.</p>
          </div>

        <div class="row skills-content">
        
          <div class="col-lg-6">
            <h3>Compétences professionnelles:</h3>
            <div class="progress">
              <span class="skill">PHP, SQL, SlimPHP Framework <i class="val">Toujours</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">HTML, CSS, Smarty, Twig<i class="val">Régulièrement</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">JavaScript à l'ancienne, jQuery <i class="val">Dans certains cas</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
                <span class="skill">Linux Server, Bash, Apache2 <i class="val">Dans certains cas</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

            <div class="progress">
                <span class="skill">Git, Docker <i class="val">Connaissances de base</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

            <div class="progress">
              <span class="skill">Vue.js (frontend) <i class="val">En train d'apprendre</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Python <i class="val">En train d'apprendre</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <h3>Compétences bonus:</h3>
            <div class="progress">
              <span class="skill">Composition musicale <i class="val">Tout le temps</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Édition audio <i class="val">Tout le temps</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
                <span class="skill">Édition vidéo (Kdenlive, Shotcut) <i class="val">Régulièrement</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

            <div class="progress">
                <span class="skill">Publication vidéo (YouTube et Odysee) <i class="val">Régulièrement</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

            <div class="progress">
                <span class="skill">Éd. d'images (GIMP, Inkscape, Midjourney) <i class="val">Régulièrement</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>

            <div class="progress">
                <span class="skill">Édition vidéo 360° <i class="val">En train d'apprendre</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>


          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Résumé</h2>
          <p>Ce résumé est anonymisé, mais je peux donner les détails sur les différentes entreprises en privé.</p>
        </div>

        <div class="row">

          <div class="col-lg-3">
          </div>

          <div class="col-lg-6">
            <div class="resume-title">2013</div>
            <div class="resume-item">
              <h4>Sortie des contrées enneigées</h4>
              <p>Je suis sorti des montagnes du Jura en Suisse, avec un diplôme de technicien ES en informatique, spécialisation en développement web, en poche.</p>
            </div>
         
            <div class="resume-title">2014-2016</div>
            <div class="resume-item">
              <h4>Les rives surpeuplées du Léman</h4>
              <p>J'ai travaillé en tant que développeur WordPress junior (et parfois TYPO3) dans une agence de communication à Lausanne, CH. J'ai développé des modules et des thèmes personnalisés, et je me suis occupé de traductions de sites aussi. Mais je n'aimais pas l'atmosphère de la ville et j'ai décidé de voir dans une autre région.</p>
            </div>


            <div class="resume-title">2016-2017</div>
            <div class="resume-item">
              <h4>Une expérience plus locale</h4>
              <p>Désireux de déménager vers une ville plus petite (et moins chère), j'ai commencé à travailler comme développeur web PHP backend, dans une agence de communication à Fribourg, Suisse. J'ai mis à jour et maintenu leur propre outil de gestion de contenu, développé des modules et des formulaires sur mesure, lié des magasins et des catalogues en ligne avec des données venant de Google Spreadsheets, je me suis occupé de problèmes sur des multisites et du contenu multilingue, j'ai géré des serveurs web Linux, une passerelle HTTPS, des bases de données SQL, la migration de sites vers de nouveaux serveurs. Ce travail continue en date d'avril 2023.</p>
            </div>

            <div class="resume-title">2018-2019</div>
            <div class="resume-item">
              <h4>Le rêve hongrois</h4>
              <p>J'ai continué le même travail pour Fribourg, à temps partiel et à distance, tout en voyageant en Europe Centrale et de l'Est, restant la plupart du temps dans la région de Budapest, où j'avais de nombreux amis partageant les mêmes buts que moi.</p>
              <p>Dans le même temps, j'ai commencé le développement de Bardic CMS avec le framework Slim PHP, et j'ai développé un site d'annonces et d'événements sur mesure, pour une assocation à Paris, France.</p>
              <p>J'ai aussi appris la langue hongroise, et le chant folklorique hongrois, durant cette période.</p>
            </div>
            <div class="resume-title">2020-2022</div>
            <div class="resume-item">
              <h4>Survivre au Pangolin</h4>
              <p>En hiver 2020, je commençais à faire des reprises de chants traditionnels, et quand la "soupe à la chauve-souris" s'est propagée en mars, j'ai développé intensément ce projet musical, avec un site Web et une chaîne YouTube, afin de rester mentalement en vie. En 2023, la chaîne a plus de 800 abonnés, une musique a atteint plus de 60 000 vues, et mon projet a été partagé par au moins 3 vidéastes modérément célèbres ayant plus de 10 000 abonnés.</p>
              <p>En août 2021, j'ai acheté une petite propriété en autosuffisance en Hongrie, dans la région de Zala, et j'ai vécu dans cette région pendant une année, en apprenant le jardinage, en essayant de la rénover, tout en gardant mon travail à distance en tant que dev web. J'ai aidé sur les terrains d'autres amis aussi. J'ai revendu cette propriété en novembre 2022, à cause de la forte inflation sur le chauffage et les matériaux de rénovation, et par manque de motivation, et je suis retourné vivre à Budapest.</p>
            </div>

            <div class="resume-title">2022-2023</div>
            <div class="resume-item">
              <h4>De retour en Suisse</h4>
              <p>J'ai continué le même travail pour Fribourg, à temps partiel et à distance, tout en planifiant mon retour en Suisse. À côté, j'ai travaillé sur le frontend d'un site Angular pour une entreprise juridique à Paris, France. C'est à la même période que j'ai commencé à apprendre le framework plus simple Vue.js.</p>
              <p>Ensuite j'ai créé mes premières démos avec Vue.js : Metal Archiver et TopioSearch, et j'ai créé Bardic.Space (ce portfolio) avec Bardic CMS. J'ai tout posté en open-source sur GitHub. Dans le même temps, j'ai aussi acheté une caméra à 360° et j'ai commencé à créer et à éditer des vidéos panoramiques.</p>
            </div>
          </div>

          <div class="col-lg-3">
          </div>
          
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>Une liste de projets que j'ai créés. Les sites web sont faits avec mon propre système de gestion de contenu.</p>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Tous les projets</li>
              <li data-filter=".filter-largeweb">Grand site web</li>
              <li data-filter=".filter-smallweb">Petit site web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-6 col-md-12 portfolio-item filter-smallweb">
            <div class="portfolio-wrap">
              <img src="{{ ABSPATH }}/themes/bardicspace/assets/img/portfolio/portfolio-tradicore.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Agence Tradicore</h4>
                <p>Site statique basique</p>
                <div class="portfolio-links">
                  <a href="{{ ABSPATH }}/themes/bardicspace/assets/img/portfolio/portfolio-tradicore.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Tradicore"><i class="bx bx-plus"></i></a>
                  <a href="https://www.agence-tradicore.ch" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-12 portfolio-item filter-smallweb">
            <div class="portfolio-wrap">
              <img src="{{ ABSPATH }}/themes/bardicspace/assets/img/portfolio/portfolio-atelierdejennifer.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Atelier de Jennifer</h4>
                <p>Site statique avancé</p>
                <div class="portfolio-links">
                  <a href="{{ ABSPATH }}/themes/bardicspace/assets/img/portfolio/portfolio-atelierdejennifer.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Atelier de Jennifer"><i class="bx bx-plus"></i></a>
                  <a href="https://www.atelierdejennifer.ch" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-12 portfolio-item filter-largeweb">
            <div class="portfolio-wrap">
              <img src="{{ ABSPATH }}/themes/bardicspace/assets/img/portfolio/portfolio-bardsinexile.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Bardes en Exil</h4>
                <p>Grande base de données de musique traditionnelle</p>
                <div class="portfolio-links">
                  <a href="{{ ABSPATH }}/themes/bardicspace/assets/img/portfolio/portfolio-bardsinexile.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Bards in Exile"><i class="bx bx-plus"></i></a>
                  <a href="https://www.bardsinexile.org" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 col-md-12 portfolio-item filter-largeweb">
            <div class="portfolio-wrap">
              <img src="{{ ABSPATH }}/themes/bardicspace/assets/img/portfolio/portfolio-rucher.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Le Rucher Patriote</h4>
                <p>Grande application avec plus de 1000 utilisateurs</p>
                <div class="portfolio-links">
                  <a href="{{ ABSPATH }}/themes/bardicspace/assets/img/portfolio/portfolio-rucher.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Le Rucher Patriote"><i class="bx bx-plus"></i></a>
                  <a href="https://www.rucher-patriote.fr" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
    <section id="apps" class="apps services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Apps</h2>
          <p>Voici quelques applications utiles que j'ai réalisées avec Vue.js.</p>
        </div>

        <div class="row">

          <div class="col-lg-6 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box iconbox-blue">
              <h4><a href="https://www.bardic.space/metalarch" target="_blank">Metal-Archiver</a></h4>
              <p>Affiche des informations de Metal-Archives d'une manière adaptée pour les mobiles. Utilise une API PHP faite à la main, tournant sur Bardic CMS, avec un système de cache local.</p>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box iconbox-teal">
              <h4><a href="https://www.bardic.space/topiosearch" target="_blank">TopioSearch</a></h4>
              <p>Outil de recherche multisite pour mots suisse-romands. Utilise une API PHP faite à la main, tournant sur Bardic CMS, avec un système de cache local.</p>
            </div>
          </div>


        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Vous pouvez me contacter en français, anglais, allemand, ou hongrois.</p>
        </div>

        <div class="row mt-1">
            <div class="col-lg-3"></div>
            <div class="col-lg-3">
                <div class="email">
                    <h4>E-mail:</h4>
                    <p><small>carteblanche АТ tutamail DОТ com</small></p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="phone">
                    <h4>Telegram:</h4>
                    <p><small>@LuciusBarde</small></p>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Bardic.Space</h3>
      <p>Les idées présentées ici sont les miennes et non celles de mon/mes employeur(s). Ce site n'utilise ni cookies, ni outil de statistiques.</p>
      <div class="social-links">
        <a target="_blank" href="https://github.com/lucius-barde" class="github"><i class="bx bxl-github"></i></a>
        <a target="_blank" href="https://www.instagram.com/aswissinhungary/" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a target="_blank" href="https://www.youtube.com/@Lucius360" class="youtube"><i class="bx bxl-youtube"></i></a>
      </div>
      <div class="copyright">
        &copy; 2023 <strong><span>Bardic.Space</span></strong>. Tous droits réservés
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: [license-url] -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/ -->
        Ce site est basé sur le modèle <a href="https://bootstrapmade.com/free-html-bootstrap-template-my-resume/" target="_blank">MyResume</a> par <a href="https://bootstrapmade.com/" target="_blank">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ ABSPATH }}/themes/bardicspace/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="{{ ABSPATH }}/themes/bardicspace/assets/vendor/aos/aos.js"></script>
  <script src="{{ ABSPATH }}/themes/bardicspace/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="{{ ABSPATH }}/themes/bardicspace/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="{{ ABSPATH }}/themes/bardicspace/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="{{ ABSPATH }}/themes/bardicspace/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="{{ ABSPATH }}/themes/bardicspace/assets/vendor/typed.js/typed.min.js"></script>
  <script src="{{ ABSPATH }}/themes/bardicspace/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="{{ ABSPATH }}/themes/bardicspace/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="{{ ABSPATH }}/themes/bardicspace/assets/js/main.js"></script>

</body>
