<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Bardic.Space</title>
  <meta content="Web developer as a profession, world re-enchanter as a hobby." name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ ABSPATH }}/themes/bardicspace/assets/img/favicon.png" rel="icon">
  <link href="{{ ABSPATH }}/themes/bardicspace/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,500;0,900;1,500;1,900&family=Alegreya:ital,wght@0,500;0,900;1,500;1,900&display=swap" rel="stylesheet">
  
  <!-- Vendor CSS Files -->
  <link href="{{ ABSPATH }}/themes/bardicspace/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="{{ ABSPATH }}/themes/bardicspace/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ ABSPATH }}/themes/bardicspace/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="{{ ABSPATH }}/themes/bardicspace/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="{{ ABSPATH }}/themes/bardicspace/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="{{ ABSPATH }}/themes/bardicspace/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ ABSPATH }}/themes/bardicspace/assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: MyResume
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/free-html-bootstrap-template-my-resume/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body {% if blob %}id="id-{{ blob.id }}"{% endif %} class="action-{{ action }}">

  {% if isHome %}
    {% if blob.lang == "fr" %}
      {% include "home-fr.html.twig" %}
    {% else %}
      {% include "home-en.html.twig" %}
    {% endif %}
  {% else %}
  404 - Not found
  {% endif %}

</html>